.navbar {
    background-color: #000000;
}
.navbar .navbar-brand {
    color: #fefdfd;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #d54c3b;
}
.navbar .navbar-text {
    color: #fefdfd;
}
.navbar .navbar-text a {
    color: #d54c3b;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: #d54c3b;
}
.navbar .navbar-nav .nav-link {
    color: #fefdfd;
    border-radius: .25rem;
    margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #d54c3b;
}
.navbar .navbar-nav .dropdown-menu {
    background-color: #000000;
    border-color: #ffffff;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: #fefdfd;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #d54c3b;
    background-color: #ffffff;
}
.navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top-color: #ffffff;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #d54c3b;
    background-color: #ffffff;
}
.navbar .navbar-toggle {
    border-color: #ffffff;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #ffffff;
}
.navbar .navbar-toggle .navbar-toggler-icon {
    color: #fefdfd;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #fefdfd;
}
.navbar .navbar-link {
    color: #fefdfd;
}
.navbar .navbar-link:hover {
    color: #d54c3b;
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #fefdfd;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #d54c3b;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #d54c3b;
        background-color: #ffffff;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #fefdfd;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #d54c3b;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #d54c3b;
        background-color: #ffffff;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #fefdfd;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #d54c3b;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #d54c3b;
        background-color: #ffffff;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #fefdfd;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #d54c3b;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #d54c3b;
        background-color: #ffffff;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #fefdfd;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #d54c3b;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #d54c3b;
    background-color: #ffffff;
}
.fa-youtube{
    color: red;
    padding-left: 550px;
    font-size: 35px;
}
.titre{
    color: #c82333;
    font-size: 100px;

}
html,body{
    background-image: url("../img/f9f5338b2c78df84d8a4038613ff89a0.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: repeat;
    background-color: black;
}
.nintendo{
   height: 50px;
    width: 50px;
    color: red;

}
.modal{
    display: none;
}
.texte{
    color: red;
    font-size: 35px;
}
.titrenav{
    color: #c82333;
}
.pacifist{
    background-image: url("../img/tenor (2).gif");
    background-size: cover;
    background-repeat:no-repeat ;
    min-height: 600px;
}
.texteblanc{
    color: white;
}
.titresection{
    color: red;
    font-size: 35px;
}
.textesection{
    color: red;
    font-size: 20px;
}
.neutre{
background-image: url("../img/630.gif");
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat ;
    min-height: 600px;

}
.genocide{
    background-image: url("../img/tenor (3).gif");
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat ;
    min-height: 600px;
}
.textesection2{
    color: white;
    font-size: 20px;
}