#undertale.navbar {
    background-color: #000000;
}
#undertale.navbar .navbar-brand {
    color: #fefdfd;
}
#undertale.navbar .navbar-brand:hover,
#undertale.navbar .navbar-brand:focus {
    color: #d54c3b;
}
#undertale.navbar .navbar-text {
    color: #fefdfd;
}
#undertale.navbar .navbar-text a {
    color: #d54c3b;
}
#undertale.navbar .navbar-text a:hover,
#undertale.navbar .navbar-text a:focus {
    color: #d54c3b;
}
#undertale.navbar .navbar-nav .nav-link {
    color: #fefdfd;
    border-radius: .25rem;
    margin: 0 0.25em;
}
#undertale.navbar .navbar-nav .nav-link:not(.disabled):hover,
#undertale.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #d54c3b;
}
#undertale.navbar .navbar-nav .dropdown-menu {
    background-color: #000000;
    border-color: #ffffff;
}
#undertale.navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: #fefdfd;
}
#undertale.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
#undertale.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
#undertale.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #d54c3b;
    background-color: #ffffff;
}
#undertale.navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top-color: #ffffff;
}
#undertale.navbar .navbar-nav .nav-item.active .nav-link,
#undertale.navbar .navbar-nav .nav-item.active .nav-link:hover,
#undertale.navbar .navbar-nav .nav-item.active .nav-link:focus,
#undertale.navbar .navbar-nav .nav-item.show .nav-link,
#undertale.navbar .navbar-nav .nav-item.show .nav-link:hover,
#undertale.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #d54c3b;
    background-color: #ffffff;
}
#undertale.navbar .navbar-toggle {
    border-color: #ffffff;
}
#undertale.navbar .navbar-toggle:hover,
#undertale.navbar .navbar-toggle:focus {
    background-color: #ffffff;
}
#undertale.navbar .navbar-toggle .navbar-toggler-icon {
    color: #fefdfd;
}
#undertale.navbar .navbar-collapse,
#undertale.navbar .navbar-form {
    border-color: #fefdfd;
}
#undertale.navbar .navbar-link {
    color: #fefdfd;
}
#undertale.navbar .navbar-link:hover {
    color: #d54c3b;
}

#undertale @media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #fefdfd;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #d54c3b;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #d54c3b;
        background-color: #ffffff;
    }
}

#undertale @media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #fefdfd;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #d54c3b;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #d54c3b;
        background-color: #ffffff;
    }
}

#undertale @media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #fefdfd;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #d54c3b;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #d54c3b;
        background-color: #ffffff;
    }
}

#undertale @media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #fefdfd;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #d54c3b;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #d54c3b;
        background-color: #ffffff;
    }
}

#undertale.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #fefdfd;
}
#undertale.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
#undertale.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #d54c3b;
}
#undertale.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #d54c3b;
    background-color: #ffffff;
}
#minecraft.navbar{
    background-color: #34ce57;
}
#minecraft.navbar {
     background-color: #0c931f;
 }
#minecraft.navbar .navbar-brand {
    color: #11d8c3;
}
#minecraft.navbar .navbar-brand:hover,
#minecraft.navbar .navbar-brand:focus {
    color: #0ce0c9;
}
#minecraft.navbar .navbar-text {
    color: #11d8c3;
}
#minecraft.navbar .navbar-text a {
    color: #0ce0c9;
}
#minecraft.navbar .navbar-text a:hover,
#minecraft.navbar .navbar-text a:focus {
    color: #0ce0c9;
}
#minecraft.navbar .navbar-nav .nav-link {
    color: #11d8c3;
    border-radius: .25rem;
    margin: 0 0.25em;
}
#minecraft.navbar .navbar-nav .nav-link:not(.disabled):hover,
#minecraft.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #0ce0c9;
}
#minecraft.navbar .navbar-nav .dropdown-menu {
    background-color: #0c931f;
    border-color: #9e722f;
}
#minecraft.navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: #11d8c3;
}
#minecraft.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
#minecraft.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
#minecraft.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #0ce0c9;
    background-color: #9e722f;
}
#minecraft.navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top-color: #9e722f;
}
#minecraft.navbar .navbar-nav .nav-item.active .nav-link,
#minecraft.navbar .navbar-nav .nav-item.active .nav-link:hover,
#minecraft.navbar .navbar-nav .nav-item.active .nav-link:focus,
#minecraft.navbar .navbar-nav .nav-item.show .nav-link,
#minecraft.navbar .navbar-nav .nav-item.show .nav-link:hover,
#minecraft.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #0ce0c9;
    background-color: #9e722f;
}
#minecraft.navbar .navbar-toggle {
    border-color: #9e722f;
}
#minecraft.navbar .navbar-toggle:hover,
#minecraft.navbar .navbar-toggle:focus {
    background-color: #9e722f;
}
#minecraft.navbar .navbar-toggle .navbar-toggler-icon {
    color: #11d8c3;
}
#minecraft.navbar .navbar-collapse,
#minecraft.navbar .navbar-form {
    border-color: #11d8c3;
}
#minecraft.navbar .navbar-link {
    color: #11d8c3;
}
#minecraft.navbar .navbar-link:hover {
    color: #0ce0c9;
}

#minecraft @media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #11d8c3;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #0ce0c9;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #0ce0c9;
        background-color: #9e722f;
    }
}

#minecraft @media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #11d8c3;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #0ce0c9;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #0ce0c9;
        background-color: #9e722f;
    }
}

#minecraft @media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #11d8c3;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #0ce0c9;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #0ce0c9;
        background-color: #9e722f;
    }
}

#minecraft @media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #11d8c3;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #0ce0c9;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #0ce0c9;
        background-color: #9e722f;
    }
}

#minecraft.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #11d8c3;
}
#minecraft.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
#minecraft.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #0ce0c9;
}
#minecraft.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #0ce0c9;
    background-color: #9e722f;
}
#zelda.navbar {
    background-color: #f3f203;
}
#zelda.navbar .navbar-brand {
    color: #f43301;
}
#zelda.navbar .navbar-brand:hover,
#zelda.navbar .navbar-brand:focus {
    color: #00ff0e;
}
#zelda.navbar .navbar-text {
    color: #f43301;
}
#zelda.navbar .navbar-text a {
    color: #00ff0e;
}
#zelda.navbar .navbar-text a:hover,
#zelda.navbar .navbar-text a:focus {
    color: #00ff0e;
}
#zelda.navbar .navbar-nav .nav-link {
    color: #f43301;
    border-radius: .25rem;
    margin: 0 0.25em;
}
#zelda.navbar .navbar-nav .nav-link:not(.disabled):hover,
#zelda.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #00ff0e;
}
#zelda.navbar .navbar-nav .dropdown-menu {
    background-color: #f3f203;
    border-color: #0117f6;
}
#zelda.navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: #f43301;
}
#zelda.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
#zelda.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
#zelda.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #00ff0e;
    background-color: #0117f6;
}
#zelda.navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top-color: #0117f6;
}
#zelda.navbar .navbar-nav .nav-item.active .nav-link,
#zelda.navbar .navbar-nav .nav-item.active .nav-link:hover,
#zelda.navbar .navbar-nav .nav-item.active .nav-link:focus,
#zelda.navbar .navbar-nav .nav-item.show .nav-link,
#zelda.navbar .navbar-nav .nav-item.show .nav-link:hover,
#zelda.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #00ff0e;
    background-color: #0117f6;
}
#zelda.navbar .navbar-toggle {
    border-color: #0117f6;
}
#zelda.navbar .navbar-toggle:hover,
#zelda.navbar .navbar-toggle:focus {
    background-color: #0117f6;
}
#zelda.navbar .navbar-toggle .navbar-toggler-icon {
    color: #f43301;
}
#zelda.navbar .navbar-collapse,
#zelda.navbar .navbar-form {
    border-color: #f43301;
}
#zelda.navbar .navbar-link {
    color: #f43301;
}
#zelda.navbar .navbar-link:hover {
    color: #00ff0e;
}

#zelda @media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #f43301;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #00ff0e;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #00ff0e;
        background-color: #0117f6;
    }
}

#zelda @media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #f43301;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #00ff0e;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #00ff0e;
        background-color: #0117f6;
    }
}

#zelda @media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #f43301;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #00ff0e;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #00ff0e;
        background-color: #0117f6;
    }
}

#zelda @media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #f43301;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #00ff0e;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #00ff0e;
        background-color: #0117f6;
    }
}

#zelda.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #f43301;
}
#zelda.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
#zelda.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #00ff0e;
}
#zelda.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #00ff0e;
    background-color: #0117f6;
}
#callofduty.navbar {
    background-color: #fefd00;
}
#callofduty.navbar .navbar-brand {
    color: #000000;
}
#callofduty.navbar .navbar-brand:hover,
#callofduty.navbar .navbar-brand:focus {
    color: #ffffff;
}
#callofduty.navbar .navbar-text {
    color: #000000;
}
#callofduty.navbar .navbar-text a {
    color: #ffffff;
}
#callofduty.navbar .navbar-text a:hover,
#callofduty.navbar .navbar-text a:focus {
    color: #ffffff;
}
#callofduty.navbar .navbar-nav .nav-link {
    color: #000000;
    border-radius: .25rem;
    margin: 0 0.25em;
}
#callofduty.navbar .navbar-nav .nav-link:not(.disabled):hover,
#callofduty.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #ffffff;
}
#callofduty.navbar .navbar-nav .dropdown-menu {
    background-color: #fefd00;
    border-color: #000000;
}
#callofduty.navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: #000000;
}
#callofduty.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
#callofduty.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
#callofduty.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #000000;
}
#callofduty.navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top-color: #000000;
}
#callofduty.navbar .navbar-nav .nav-item.active .nav-link,
#callofduty.navbar .navbar-nav .nav-item.active .nav-link:hover,
#callofduty.navbar .navbar-nav .nav-item.active .nav-link:focus,
#callofduty.navbar .navbar-nav .nav-item.show .nav-link,
#callofduty.navbar .navbar-nav .nav-item.show .nav-link:hover,
#callofduty.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #ffffff;
    background-color: #000000;
}
#callofduty.navbar .navbar-toggle {
    border-color: #000000;
}
#callofduty.navbar .navbar-toggle:hover,
#callofduty.navbar .navbar-toggle:focus {
    background-color: #000000;
}
#callofduty.navbar .navbar-toggle .navbar-toggler-icon {
    color: #000000;
}
#callofduty.navbar .navbar-collapse,
#callofduty.navbar .navbar-form {
    border-color: #000000;
}
#callofduty.navbar .navbar-link {
    color: #000000;
}
#callofduty.navbar .navbar-link:hover {
    color: #ffffff;
}

#callofduty @media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #000000;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ffffff;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ffffff;
        background-color: #000000;
    }
}

#callofduty @media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #000000;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ffffff;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ffffff;
        background-color: #000000;
    }
}

#callofduty @media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #000000;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ffffff;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ffffff;
        background-color: #000000;
    }
}

#callofduty @media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #000000;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ffffff;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ffffff;
        background-color: #000000;
    }
}

#callofduty.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #000000;
}
#callofduty.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
#callofduty.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
}
#callofduty.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #000000;
}
#youtube.navbar {
    background-color: #fe2800;
}
#youtube.navbar .navbar-brand {
    color: #fffefe;
}
#youtube.navbar .navbar-brand:hover,
#youtube.navbar .navbar-brand:focus {
    color: #000000;
}
#youtube.navbar .navbar-text {
    color: #fffefe;
}
#youtube.navbar .navbar-text a {
    color: #000000;
}
#youtube.navbar .navbar-text a:hover,
#youtube.navbar .navbar-text a:focus {
    color: #000000;
}
#youtube.navbar .navbar-nav .nav-link {
    color: #fffefe;
    border-radius: .25rem;
    margin: 0 0.25em;
}
#youtube.navbar .navbar-nav .nav-link:not(.disabled):hover,
#youtube.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #000000;
}
#youtube.navbar .navbar-nav .dropdown-menu {
    background-color: #fe2800;
    border-color: #ffffff;
}
#youtube.navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: #fffefe;
}
#youtube.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
#youtube.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
#youtube.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #000000;
    background-color: #ffffff;
}
#youtube.navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top-color: #ffffff;
}
#youtube.navbar .navbar-nav .nav-item.active .nav-link,
#youtube.navbar .navbar-nav .nav-item.active .nav-link:hover,
#youtube.navbar .navbar-nav .nav-item.active .nav-link:focus,
#youtube.navbar .navbar-nav .nav-item.show .nav-link,
#youtube.navbar .navbar-nav .nav-item.show .nav-link:hover,
#youtube.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #000000;
    background-color: #ffffff;
}
#youtube.navbar .navbar-toggle {
    border-color: #ffffff;
}
#youtube.navbar .navbar-toggle:hover,
#youtube.navbar .navbar-toggle:focus {
    background-color: #ffffff;
}
#youtube.navbar .navbar-toggle .navbar-toggler-icon {
    color: #fffefe;
}
#youtube.navbar .navbar-collapse,
#youtube.navbar .navbar-form {
    border-color: #fffefe;
}
#youtube.navbar .navbar-link {
    color: #fffefe;
}
#youtube.navbar .navbar-link:hover {
    color: #000000;
}

#youtube @media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #fffefe;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #000000;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #000000;
        background-color: #ffffff;
    }
}

#youtube @media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #fffefe;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #000000;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #000000;
        background-color: #ffffff;
    }
}

#youtube @media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #fffefe;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #000000;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #000000;
        background-color: #ffffff;
    }
}

#youtube @media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #fffefe;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #000000;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #000000;
        background-color: #ffffff;
    }
}

#youtube.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #fffefe;
}
#youtube.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
#youtube.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #000000;
}
#youtube.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #000000;
    background-color: #ffffff;
}
.fa-youtube{
    color: red;
    padding-left: 550px;
    font-size: 35px;
}
.titre{
    color: #c82333;
    font-size: 100px;

}
.under{
    background-image: url("../img/undertale/f9f5338b2c78df84d8a4038613ff89a0.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: repeat;
    background-color: black;
}
.nintendo{
   height: 50px;
    width: 50px;
    color: red;

}
.modal{
    display: none;
}
.texte{
    color: red;
    font-size: 35px;
}
.titrenav{
    color: #c82333;
}
.pacifist{
    background-image: url("../img/undertale/tenor (2).gif");
    background-size: cover;
    background-repeat:no-repeat ;
    min-height: 600px;
}
.texteblanc{
    color: white;
}
.titresection{
    color: red;
    font-size: 35px;
}
.textesection{
    color: red;
    font-size: 20px;
}
.neutre{
background-image: url("../img/undertale/630.gif");
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat ;
    min-height: 600px;

}
.genocide{
    background-image: url("../img/undertale/tenor (3).gif");
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat ;
    min-height: 600px;
}
.textesection2{
    color: white;
    font-size: 20px;
}
.tex{
    color: #28a745;
    font-size: 30px;
}

#tori{
    height: 100%;
    width: 100%;
}
#papyrus{
    height: 100%;
    width: 100%;
}
#undyne{
    height: 100%;

}
#mettaton{
    height: 100%;
}
#mettatonex{
    height: 100%;
}
#asgore{
    height: 100%;
    width: 100%;
}
.mine{
    background-image: url("../img/minecraft/171177.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: repeat;
    background-color: green;
}
.cool{
    color: #007bff;
    font-size: 30px;
}
.chose{
    color: gold;
    font-size: 55px;
}
.creatif{
    background-color: aqua;
}
.fa-building{
    font-size: 50px;
}
.survie{
    background-color: red;
}
.fa-heart{
    font-size: 50px;
}
.mods{
   background-color: deeppink;
}
.fa-question-square{
    font-size: 50px;
}
.mod{
    font-size: 50px;
}
.command{
    background-color: navy;
}
.fa-terminal{
    font-size: 50px;
}
#link{
    background-image: url("../img/zelda/thumb-1920-424405.jpg");
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-repeat: repeat;
}


.rainbow {
    text-align: center;
    text-decoration: underline;
    font-size: 70px;
    font-family: monospace;
    letter-spacing: 5px;
}
.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    /*background-clip: text;*/
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}
#button\ collapse{
    font-size: 25px;
}
.jumbotron{
    background-color: black;
    color: white;
}
.lead{
    font-size: 25px;
}
.un{
    font-size: 30px;
    color: white;
}
.bte{
    font-size: 25px;
}
#animation{
    display: none;
}

#cod{
    background-color: black;
    color: white;
}
.reco{
    font-size: 70px;
    text-decoration: underline;
}
.qwerty{
    font-size: 80px;
}
#logoyoutube{
    color: white;
}
#you{
    background-image: url("../img/youtube/795970.jpg");
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-repeat: repeat;
}
.youyou{
    color:white ;
}
.titreyou{
    font-size: 75px;
}
.rainbow2 {
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    color:transparent;
    -webkit-background-clip: text;

    font-size: 70px;
}
.tab{
    font-size: 35px;
    color: lime;
}
.card-header{
    font-size: 40px;
}
.row{
    padding-right: 0;
    padding-left: 0 ;
    margin-right: 0;
    margin-left: 0;
}
.formhead{
    color: white;
    font-size: 35px;
}
label{
    font-size: 37px;
    color: aqua;
}
.textevicto{
    font-size: 40px;
    color: aqua;
}
/* Cellulaires */
@media only screen and (max-width: 720px){
    html,body{
        font-size: 10px;
    }
    .container-fluid{
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        height: 100%;

    }
    .titre{
        font-size: 50px;
    }
    .titresection{
        font-size: 30px;
    }
    .textesection{
        font-size: 15px;
    }
    .textesection2{
        font-size: 15px;
    }
    .pacifist{
        background-position: center;
    }
    #mettatonex,#asgore,#mettaton,#undyne,#theundying,#papyrus,#tori,#asriel{
        width: 100%;
    }
    .fa-youtube{
        padding-left: 200px;
    }
    .chose{
        font-size: 35px;
    }
    .cool{
        font-size: 17px;
    }
    .rainbow{
        font-size: 50px;
    }
    .rainbow2{
        font-size: 35px;
    }
    .reco{
        font-size: 35px;
    }
}
/* TABLETTES */
@media screen and (min-width: 481px) and (max-width: 1199px) {
    #mettatonex,#asgore,#mettaton,#undyne,#theundying,#papyrus,#tori,#asriel{
        width: 100%;
    }
}
