html,body{
    height: 100%;
    background-color: black;
}

.bg{
    background-image: url("../img/cropped-1920-1080-434451.jpg");
 background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 600px;

}
.h4{
    color: yellow;
}
.carré{
    background-color: rgba(255,255,0,.75) !important;
    align-items: center;
    text-align: center;
}
.bande{
   align-items: center;
    text-align: left;
    background-color: rgba(138, 138, 138,.75);
    background-size: cover;
}
.noir{
    color: black;
}
h1{
    font-size: 3.5rem;
}
.fdsa{
    font-size: 3.5rem;
}
.image{
    border-image-repeat: repeat;
}
.texte{
    text-align: justify;
    font-size: 1.5rem;
}
.gras{
   font-weight: bold;
}
.couleurfont{
    background-color: salmon;
}