html,body{
    height: 100%;
    background-color: black;
    font-size: 15px;
}

.bg{
    background-image: url("../img/cropped-1920-1080-434451.jpg");
 background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 600px;

}
.h4{
    color: yellow;
}
.carré{
    background-color: rgba(255,255,0,.75) !important;
    align-items: center;
    text-align: center;
}
.bande{
   align-items: center;
    text-align: left;
    background-color: rgba(138, 138, 138,.75);
    background-size: cover;
}
.noir{
    color: black;
}
h1{
    font-size: 3.5rem;
}
.fdsa{
    font-size: 3.5rem;
}
.image{
    border-image-repeat: repeat;
}
.texte{
    text-align: justify;
    font-size: 1.5rem;
}
.gras{
   font-weight: bold;
    font-size: 2.5rem;
}
.couleurfont{
    background-color: salmon;
}
ul{
    font-size: 1.3rem;
}
.bg2{

    background-image: url("../img/moteur-v8-62-hellcat-dodge-challenger.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    height: 500px;
}
.zone3titre{
    color: white;
    font-size: 3.8rem;
}
.paragraphe{
    color: white;
    font-size: 1.3rem;
}
li{
    color: wheat;
}
.linope{
    color: black;
}
.bg3{

    background-image: url("../img/1969_Dodge_Charger_Daytona.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 600px;
}
.padding{
    padding-top: 3.5rem;
}
.zone5{
    background-color: forestgreen;
}
.zone5_2{
    background-color:sandybrown;
}
.zone5_3{
    background-color: #007bff;
}
.fa-youtube{
    font-size: 3.5rem;
    padding-top:2rem ;
    color: red;
}
.fa-twitch{
    font-size: 3.5rem;
    padding-top:2rem ;
    color: darkviolet;
}
.h2zone5{
    font-size: 1.85rem;
}
.fa-tachometer-alt{
    font-size: 3.5rem;
    padding-top: 2rem;
    color: fuchsia;
}
@media only screen and (max-width: 480px){
    html,body{font-size: 1.2px}
}