.navbar {
    background-color: #fa0000;
}
.navbar .navbar-brand {
    color: #000000;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #ffffff;
}
.navbar .navbar-text {
    color: #000000;
}
.navbar .navbar-text a {
    color: #ffffff;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: #ffffff;
}
.navbar .navbar-nav .nav-link {
    color: #000000;
    border-radius: .25rem;
    margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #ffffff;
}
.navbar .navbar-nav .dropdown-menu {
    background-color: #fa0000;
    border-color: #0023ff;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: #000000;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #0023ff;
}
.navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top-color: #0023ff;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #ffffff;
    background-color: #0023ff;
}
.navbar .navbar-toggle {
    border-color: #0023ff;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #0023ff;
}
.navbar .navbar-toggle .navbar-toggler-icon {
    color: #000000;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #000000;
}
.navbar .navbar-link {
    color: #000000;
}
.navbar .navbar-link:hover {
    color: #ffffff;
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #000000;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ffffff;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ffffff;
        background-color: #0023ff;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #000000;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ffffff;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ffffff;
        background-color: #0023ff;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #000000;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ffffff;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ffffff;
        background-color: #0023ff;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #000000;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ffffff;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ffffff;
        background-color: #0023ff;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #000000;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #0023ff;
}
html,body{
    font-size: 10px;
    background-color: #007bff;
    height: 100%;
}
.sdasd{
    font-size: 3rem;
}
.head{
    font-size: 3rem;
}
header{
   text-align: center;
    align-items: center;
}
.navewe{
    font-size: 3rem;
}
li{
    font-size: 1.5rem;
}
.iefjsuf{
    background: url("../img/213443.jpg");
    height: 100%;
    width: 100%;
}
.boutton{
    height: 4rem;
    font-size: 2rem;

}

.tdf{
    font-size: 5rem;
    color: white;
}
.list{
    font-size: 2.7rem;
}
.imagetitre{
    font-size: 3rem;
}
.imagemario{
    height:305px ;
    width:220px;
}
.rijdnsfi{
    font-size: 5.3rem;
    color: mistyrose;
}
.imagemarioitem{
width: 220px;
    height: 220px;
}
.bouttonline{
    font-size: 1.5rem;
}
.colorrowp1{
    background-color: #34ce57;
}
.potate{
    background-color: #fa0000;
}
table,th,tr,td{
    border: 2px solid black;
    align-items: center;
    text-align: center;
}
table{
    width: 100%;
}
td{
    font-size: 2rem;
    color: yellow;
}
th{
    font-size: 2.7rem;
}
.bouttonn{
    height: 6rem;
    font-size: 3rem;
}
.bg{
    background-image: url("../img/eff316895bc9368ad87cc8b612bbcc33.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    min-height: 600px;

}
.texte{
    background-color: rgba(200,200,0,.75);
    align-items: center;
    text-align: center;
    font-size: 3rem;
}
.carte{
    max-width: 200rem;
    background-color: springgreen;
}
.cartetitre{
    font-size: 2.5rem;
}
.carteparagraphe{
    font-size: 1.5rem;
}
.jumbotron{
    background-color: #fa0000;
}
.jumbobouttonsize{
    font-size: 2rem;
}
.edi{
    font-size: 6rem;
    color: #c82333;
}
.bd1{
    background-color: blue;
}
.bd2{
    background-color: #34ce57;
}
.bd3{
    background-color: magenta;
}
.bd4{
    background-color: turquoise;
}
.imagezelda{
    height: 155px;
    width: 155px;
}
.paragraphe{
    font-size: 2rem;
}
.imagezeldaspecial{
    height: 155px;
    width: 225px;
}
.tablefhjkl{
    background-color: violet;
}