body,html{
    background-image: url("../img/image-asset.jpeg");
    background-size: cover;



}
.lol{
    padding-left: 650px;
color: #007bff;

}
.lol2{
    padding-left: 550px;
    color: #007bff;
}
.label{
    font-size: 60px;
}
.nope{
    color: red;
}
.true{
    color:green;

}
.force{
    color: red;
}
.grospetit{
    font-size: 30px;
}
.lol3{
    padding-left: 250px;
    color: #007bff;

}
.blue{
    color: limegreen;
    padding-top: 90px ;
    font-size: 25px;
}
.lol4{
    padding-left: 600px;
    color: #007bff;
}
.force2{
    color: red;
}
